.body_nav{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}
.body_content_one{
justify-content: space-around;
text-align: center;
}
.image img{
    /* width: 20%; */
    width: 220px;
    height: 170px;
    margin: auto;
}
.image_cover{
    position: relative;
}
.image img:hover{
    cursor: pointer;
    transform:scale(1.1);
    transition: 0.5s;
}
.sale{
    /* top: 0px; */
    width: 30px;
    height: 25px;
    line-height: 30px;
    right: 0px;
    top: 0px;
    border-radius: 20%;
    position: absolute;
    background-color: rgb(251, 13, 13);
    color: #fff;
    text-align: center;
}
.sale:hover{
    background-color: rgba(255, 0, 0, 0.593);
    cursor: pointer;
}
.content p{
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
}
.money_cover{
   margin: auto;
   color: red;
   font-weight: bold;
}

.money_cover:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.508);
}

.money_coverr{
    display: flex;
    justify-content: center;
}
.money_right {
    display: flex;
}
.content_one-btn{
    margin-top: 10px;
    padding: 5px;
    background-color: red;
    border: none;
    width: 100px;
    color: #fff;
    border-radius: 5px;
}
.content_one_btn:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.511);
}
.body_cover{
    align-items: center;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.body_cover_left{
    width: 550px;
    height: 1px;
    background-color: green;
}
.body_cover_middle{
    font-weight: bold;
    color: rgb(14, 162, 14);
}