@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: whitesmoke;
}
.err{
  color: red;
}
label{
  flex: 1;
}
input{
  flex: 1;
  border: 1px solid black;
}
.mb-3{
  margin-top: 30px;
}
.left{
  margin: auto;
  color: white;
  padding: 70px 0px;
  padding-left: 100px;
}
.right{
  width: 50%;
  margin: auto;
  background-color: whitesmoke;
}
.auth{
  background-color: rgb(6, 145, 6);
}
.form-control{
  background-color: rgb(6, 145, 6);
}
td{
  text-align: center;
}
nav {
  background: whitesmoke;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0px 20px;
  
}
nav img{
 width: 100px;
 height: 70px;
}
nav a {
  color: #171717;
  text-decoration: none;
  font-weight: bold;
  line-height: 70px;
  display: block;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(99, 199, 99);
}
.nav-dropdown-title {
  font-size: 30px;
  line-height: 70px;  /* Thay đổi kích thước chữ của title */
  font-weight: bold; 
  display: flex;
  
}

.nav-dropdown-title :hover{
  color:  rgb(99, 199, 99);
}

.nav-dropdown-toggle::after {
  display: none;
}
button :hover{
  text-decoration: underline;
  color: rgb(99, 199, 99);
}

.menu_user{
  display: flex;
}
.menu_right{
  width: 70%;
}