@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: whitesmoke;
}
.err{
  color: red;
}
label{
  flex: 1;
}
input{
  flex: 1;
  border: 1px solid black;
}
.mb-3{
  margin-top: 30px;
}
.left{
  margin: auto;
  color: white;
  padding: 70px 0px;
  padding-left: 100px;
}
.right{
  width: 50%;
  margin: auto;
  background-color: whitesmoke;
}
.auth{
  background-color: rgb(6, 145, 6);
}
.form-control{
  background-color: rgb(6, 145, 6);
}
td{
  text-align: center;
}
.navmenu {
 
  height: 50px;
  width: 100%;
  /* position: fixed;
  z-index: 1000; */
}

.navmenu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navmenu li {
  margin: 0px 30px;
  
}
.logo{
 width: 150px;
 height: 100px;
 margin-bottom: 50px;

}
.navmenu a {
  color: #527360;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  font-weight:500;
  display: block;
  text-align: center;
}

.navmenu a:hover {
  color: rgb(99, 199, 99);
}
.nav-dropdown-title {
  font-size: 30px;
  line-height: 70px;  /* Thay đổi kích thước chữ của title */
  font-weight: bold; 
  display: flex;
  
}

.nav-dropdown-title :hover{
  color:  rgb(99, 199, 99);
}

.nav-dropdown-toggle::after {
  display: none;
}
button :hover{
  text-decoration: underline;
  color: rgb(99, 199, 99);
}

.menu_user{
  display: flex;
  justify-content: space-around;
  height: 80px;
}
.menu_right{
  display: flex;
  margin: 5px auto;
}
.Input{
  display: flex;
  margin-top: 20px;
 
}
.Input input{
  width: 400px;
  height: 40px;
  border-top-left-radius:50px ;
  border-bottom-left-radius:50px ;
  border: 2px solid#527360 ;
  border-right: none;
  padding-left: 20px;
}
.Input button{
  width: 70px;
  height: 40px;
  background: #527360 ;
  border-top-right-radius:50px ;
  border-bottom-right-radius:50px ;
  color: white;
}